<footer >
    <hr>
    <div >
        <p>Aplicación de ejemplo de NodeJS CIDW</p>
        <p style="font-weight:bold" >Páginas de interés:</p>
        <div >
            <span >
                <a href="https://canvas.instructure.com/courses/6224672">
                    Página Canvas del curso
                </a>
            </span>
            <span >
                <a href="http://expressjs.com/en/4x/api.html">
                    Documentación de Express
                </a>
            </span>
            <span >
                <a href="https://socket.io/docs/v4/">
                    Documentación de Socket.io (WebSockets)
                </a>
            </span>
            <span >
                <a href="https://github.com/mde/ejs/tree/main/docs">
                    Documentación de ejs
                </a>
            </span>
        </div>
    </div>
</footer>
<script src="/js/bootstrap.min.js" ></script>
